:root {
    --diamet: 4vh
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%
}

#root {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#circle {
    height: var(--diamet);
    width: var(--diamet);
    border: 3px solid;
    border-color: #000;
    border-top-color: #fff;
    border-radius: 50%;

    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    box-shadow: 0px 3px 5px #8888;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}