:root {
    --shadow: 0 2px 10px #000;
    --diametro: 45vmin;
    --var-diamet: 46vmin;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f00;
}

.heart {
    height: var(--diametro);
    width: var(--diametro);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    rotate: 45deg;
    box-shadow: var(--shadow);

    animation-name: batimentos;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.heart:before,
.heart:after {
    height: var(--diametro);
    width: var(--diametro);
    position: absolute;
    content: "";
    background-color: #fff;
    border-radius: 50%;

    animation-name: batimentos;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes batimentos {
    10% {
        height: var(--var-diamet);
        width: var(--var-diamet);
    }

    20% {
        height: var(--diametro);
        width: var(--diametro);
    }

    30% {
        height: var(--var-diamet);
        width: var(--var-diamet);
    }

    100% {
        height: var(--diametro);
        width: var(--diametro);
    }
}

.heart:before {
    top: -22vmin;
}

.heart:after {
    left: -22vmin;
}

.name {
    font-size: 10vmin;
    position: absolute;
    top: 4vmin;
    left: -5vmin;
    rotate: -45deg;
    z-index: 1;
    color: #00f;
    text-shadow: .2vmin .2vmin 3vmin #ff1493;
}

footer {
    height: 3vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
}

.textFooter {
    color: #fff;
}